footer {
    display: flex;
    justify-content: space-between;

    span {
        padding-block: 1.5rem;
    }

    #links {
        display: flex;
        gap: 1.25rem;
        padding-block: 1.5rem;
    }

    #links a {
        font-size: 0.875rem;
    }
}

@media (width <= 37.5rem) {
    footer {
        display: flex;
        flex-direction: column;
        
        & span {
            text-align: center;
        }

        & #links {
            display: flex;
            flex-direction: column;
            padding-block: 0.5rem;
            text-align: center;
        }

    }
}