footer {
    display: flex;
    justify-content: space-between;

    span {
        padding-block: 24px;
    }

    #links {
        display: flex;
        gap: 20px;
        padding-block: 24px;
    }

    #links a {
        font-size: 0.875rem;
    }
}